

.video-grid {
  justify-content: center;
  display: grid;
  grid-gap: 1.5rem;

}


.video-image{
  padding: 2px;
  background-color: grey;
}

.video-image:hover{
  background-color: rebeccapurple;
}


@media (min-width: 1500px){
.video-grid {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
}

@media (max-width: 1499px) and (min-width: 1190px){
.video-grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
}

@media (max-width: 1189px) and (min-width: 900px){
.video-grid {
  grid-template-columns: 1fr 1fr 1fr;
}
}

@media (max-width: 899px) and (min-width: 650px){
.video-grid {
  grid-template-columns: 1fr 1fr;
}
}

@media (max-width: 649px){
.video-grid {
  grid-template-columns: 1fr;
}
}
