
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9000;
    color: #fff;
    background-color: #000;
  /*  border-bottom: 1px solid #fff;*/

  }


.header-container {
    position: relative;
    padding-top: .75rem;
    padding-bottom: .75rem;
    margin: 0;
    font-size: 1.5rem;
    letter-spacing: .06em;
}

.btn-outer{
    width: 4rem;
      border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid;
    border-right: 1px solid;
/*    margin: 0 9px 18px 9px;*/
     padding: 3px 6px 2px 6px;
}

.btn-outer + .btn-outer{
  margin: 0 9px 18px 9px;
}

.btn-outer:hover{
  border: 1px solid;
}




.nav-item {
    padding-right: 8px;
        font-size: .85em;
        cursor: pointer;
}


a {
    color: #fff;
}


.block{
  display:block;
}

.menu-btn{
    -webkit-transition-property: height;
    -webkit-transition-duration: 0.35s;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: height;
    transition-duration: 0.35s;
    transition-timing-function: ease-in-out;
}

.fullscreen-menu{
  position: fixed;
    top: 54px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.5rem;
    z-index: 21;
    height: 80vh;
      -webkit-transition-property: height;
    -webkit-transition-duration: 0.35s;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: height;
    transition-duration: 0.35s;
    transition-timing-function: ease-in-out;
}
