.show-grid {
    display: block;
    width: 100%;
    font-size: 18px;
    color: #fff;
    text-align: left;
    margin-bottom: 100px;
}


.showname{
  background-color: rgb(38, 39, 40);
  color: #d6d6d6;
  text-decoration-line: none;
  font-size: 1em;
  padding: 5px;
      -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
/*        border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    border-bottom: 5px solid white;
/*    border-right: 5px solid white;*/
}

.showname:hover{
  color:black;
  background-color: rgba(255,255,255,.85);
  cursor:pointer;
}


.loading{
  margin-top: 50vh;
  color: #d6d6d6;
}

.show:hover{
 /* background-color: blue;*/
  color: black;
  .showname {
    color:black;
  }
}



.show{
/*      border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    border-bottom: 1px solid white;
    border-right: 1px solid white;*/
        border-bottom: 1px solid #d6d6d6;
}




.image{
  padding: 2px;
  background-color: grey;
    -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.image:hover{
  background-color: blue;
}

.slider-slide > img {
    width: 80%;
    display: block;
}
.slider {
  width:80%;
}


.grid {
  justify-content: center;
  display: grid;
  grid-gap: 1.5rem;

}


.caro-pad{
  margin: 1.5rem 0;
  filter: grayscale(50%) saturate(50%);
}


img{
  width: 100%;
  object-fit:cover;
  filter: grayscale(50%) saturate(50%);
}


@media (min-width: 1500px){
.grid {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
}

@media (max-width: 1499px) and (min-width: 1190px){
.grid {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
}

@media (max-width: 1189px) and (min-width: 900px){
.grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
}

@media (max-width: 899px) and (min-width: 650px){
.grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
}

@media (max-width: 649px){
.grid {
  grid-template-columns: 1fr 1fr;
}
}


