.show-grid {
    display: block;
    width: 100%;
    font-size: 18px;
    color: #fff;
    text-align: left;
    margin-bottom: 100px;
}


.showname{
  color: white;
  text-decoration-line: none;
  font-size: 1em;
  padding: 5px;
      -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
/*        border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    border-bottom: 5px solid white;
/*    border-right: 5px solid white;*/
}

.showname:hover{
  color:black;
  background-color: white;
  cursor:pointer;
}

.show:hover{
 /* background-color: blue;*/
  color: black;
  .showname {
    color:black;
  }
}



.show{
/*      border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    border-bottom: 1px solid white;
    border-right: 1px solid white;*/
        border-bottom: 1px solid white;
}




.image{
  padding: 2px;
  background-color: grey;
    -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.image:hover{
  background-color: blue;
}


.mixcloud-player {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fcfcfc;
    z-index: 100;
    -webkit-transition: height .15s ease-in-out;
    -moz-transition: height .15s ease-in-out;
    -ms-transition: height .15s ease-in-out;
    -o-transition: height .15s ease-in-out;
    transition: height .15s ease-in-out;
}


.grid {
  justify-content: center;
  display: grid;
  grid-gap: 1.5rem;

}


img{
  width: 100%;
  object-fit:cover;
  mix-blend-mode: difference;
  filter: grayscale(100%) brightness(129%);
}


@media (min-width: 1500px){
.grid {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
}

@media (max-width: 1499px) and (min-width: 1190px){
.grid {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
}

@media (max-width: 1189px) and (min-width: 900px){
.grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
}

@media (max-width: 899px) and (min-width: 650px){
.grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
}

@media (max-width: 649px){
.grid {
  grid-template-columns: 1fr 1fr;
}
}


