.App {
  text-align: center;

}

body{
  background-color: black;
}



button {
    border-color: white;
    border-style: solid;
    border-width: 2.5px;
    padding: 1px;
    margin: 0;
}



select {
     background-color:black;
  border: 2px solid white;
  margin: 5px;
  color: white;
  /*  border-image: initial;*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

input{
  background-color:black;
  border: 2px solid white;
  margin: 5px;
  color: white;
}

.result {
  justify-content: center;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 31%);
}

.result>* {

}

a{
  color: white;
  text-decoration-line: none;
  font-size: 1em;
}

.show{
  border: 1px solid grey;
  padding: 5px;
  background-color: black
}

.Title{
  color: white;
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.mixcloud-player {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fcfcfc;
    z-index: 100;
    -webkit-transition: height .15s ease-in-out;
    -moz-transition: height .15s ease-in-out;
    -ms-transition: height .15s ease-in-out;
    -o-transition: height .15s ease-in-out;
    transition: height .15s ease-in-out;
}
